
<%= form_with scope: :contact, url: contacts_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
 
 <p>
    <%= form.label :mob %><br>
    <%= form.text_field :mob %>
  </p>
 
  <p>
    <%= form.label :head %><br>
    <%= form.text_field :head %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
   </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>