
<h1>this is show contact us page</h1>

	<p>
	  <strong>Name:</strong>
	  <%= @contact.name %>
	</p>
	 
	<p>
	  <strong>Email:</strong>
	  <%= @contact.email %>
	</p>

	<p>
	  <strong>mobile No:</strong>
	  <%= @contact.mob %>
	</p>
	 
	<p>
	  <strong>head:</strong>
	  <%= @contact.head %>
	</p>

	<p>
	  <strong>contents:</strong>
	  <%= @contact.content %>
	</p>

	
